.top.nav.bar {
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    
    position: relative;
    top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: -10px 12px 0px 3px gray;
    width: auto;
    overflow-wrap: break-word;
}

.top-nav-bar-list {
    /*the group of nav bar links*/
    display: flex;
    flex-direction: row;
    list-style: none;
}

.top-nav-bar-list a {
    /*each individual link*/
    color: ivory;
    text-decoration: none;
    padding: 20px;
    justify-content: flex-start;
    font-family: monospace;
    font-weight: bold;
    font-size: .8rem;
}

.top-nav-bar-list p {
    /*separator pipes*/
    color: #013328;
}

@media (hover: hover) {

    /*mouse hover interactive link*/
    .top-nav-bar-list a:hover {
        color: #013328;


    }
}

.company-name{
    color: ivory;
    font-family: monospace;
    font-size: 25px;

    padding: 10px;
}

body{
    background-color: lightblue;
}

footer{ /*Connect With Me*/
    background-color: burlywood;
    font-family: monospace;

    border-top: 5px dotted ivory;
    bottom: 0;
    width: 100%;
}

#social{
    display: flex;
    justify-content: center;
    color: ivory;
}

.social-icon{
    height: 30px;
    width: 30px;
    background-color: burlywood;
}

@media (min-width:300px){
}